.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.movie-details-container img {
    height: 150px;
    width: 125px;
}

.movie-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    width: 100%;
}

.right-movie-header {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.right-movie-header p {
    margin: 5px;
}

.left-movie-header {
    margin-top: -3px;
}

.left-movie-header h2 {
    margin-bottom: -5px;
    max-width: 150px;
    overflow: hidden;
    word-wrap: break-word;
}

.inner-avg-rating-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.movie-details-average-rating {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.movie-details-rating-container {
    margin-top: 10px;
}

.movie-details-rating-content {
    font-size: large;
}

.movie-details-average-rating button{
    height: 100%
}

.movie-details-star-icon {
    color: yellow;
}

.reviews-map {
    padding-inline-start: 0px;
    width: 400px;
}

.reviews-map li {
    background-color: #090909;
    list-style: none;
    border: 1px solid #141414;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.review-bttn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-bttn {
    background-color: transparent;
    font-size: large;
    color: rgb(87, 153, 239);
    cursor: pointer;
    padding: 1px 3px 3px 2px;
    transition: 0.2s;
}

.review-bttn:hover {
    background-color: rgb(39, 39, 39);
    transform: scale(.95);
}

.review-bttn:active {
    background-color: rgb(50, 50, 50);
    transform: scale(.90);
}

.cast-bttn {
    background-color: transparent;
    font-size: large;
    color: rgb(87, 153, 239);
    cursor: pointer;
    padding: 1px 3px 3px 2px;
    transition: 0.2s;
}

.cast-bttn:hover {
    background-color: rgb(16, 16, 16);
    transform: scale(.95);
}

.cast-bttn:active {
    background-color: rgb(50, 50, 50);
    transform: scale(.90);
}

.description-div {
    max-width: 400px;
    margin: 0;
  }

.update-delete-buttons {
    font-family: inherit;
    background-color: transparent;
    color: rgb(188, 188, 188);
    cursor: pointer;
    padding: 1px;
}

.update-delete-buttons:hover {
    /* background-color: rgb(93, 93, 93); */
    color: rgb(93, 93, 93);
}

.update-delete-buttons:active {
    transform: scale(.9);
}

.edit-delete-bttns-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.edit-delete-bttns-container div {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-right: 2px;
    transition: 0.3s;
}

.inner-reviews-map {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.inner-reviews-map p {
    margin: 0;
}

.actor-link {
    text-decoration: none;
    color: inherit;
  }

.actor-link:hover {
    text-decoration: underline;
}

.actor-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex: 0 0 calc(50% - 20px);
}

.movie-actor-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    gap: 8px;
  }

.movie-actor-link:hover {
    text-decoration: underline;
}

.movie-actors {
    width: 400px;
}
.movie-actors img {
    height: 75px;
    width: 70px;
    border-radius: 75%;
    object-fit: fill;
}

.actors-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.actors-header button {
    height: 100%;
}

.cast-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.review-link, .add-actor-link {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.username-p {
    color: #f5c518;
}

.movie-details-container h3 {
    color: #f5c518;
}
