.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-details-container img {
    height: 150px;
    width: 125px;
}

.inner-avg-rating-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.movie-details-average-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.movie-details-average-rating button{
    height: 100%
}

.movie-details-star-icon {
    color: yellow;
}

.reviews-map {
    padding-inline-start: 0px;
}

.reviews-map li {
    list-style: none;
}
