.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.movie-details-container img {
    height: 150px;
    width: 125px;
}

.movie-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    width: 100%;
}

.right-movie-header {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.right-movie-header p {
    margin: 5px;
}

.left-movie-header {
    margin-top: -3px;
}

.left-movie-header h2 {
    margin-bottom: -5px;
    max-width: 150px;
    overflow: hidden;
    word-wrap: break-word;
}

.inner-avg-rating-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.movie-details-average-rating {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.movie-details-rating-container {
    margin-top: 10px;
}

.movie-details-rating-content {
    font-size: large;
}

.movie-details-average-rating button{
    height: 100%
}

.movie-details-star-icon {
    color: yellow;
}

.reviews-map {
    padding-inline-start: 0px;
    width: 400px;
}

.reviews-map li {
    list-style: none;
}

.review-bttn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-bttn {
    background-color: transparent;
    font-size: large;
    color: rgb(87, 153, 239);
    cursor: pointer;
    padding: 1px 3px 3px 2px;
}

.review-bttn:hover {
    background-color: rgb(39, 39, 39);
}

.review-bttn:active {
    background-color: rgb(50, 50, 50);
}


.description-div {
    max-width: 400px;
    margin: 0;
  }

.update-delete-buttons {
    font-family: inherit;
    background-color: transparent;
    color: rgb(188, 188, 188);
    cursor: pointer;
    padding: 1px;
}

.update-delete-buttons:hover {
    /* background-color: rgb(93, 93, 93); */
    color: rgb(93, 93, 93);
}

.update-delete-buttons:active {
    transform: scale(.9);
}

.edit-delete-bttns-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.edit-delete-bttns-container div {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-right: 2px;
    transition: 0.3s;
}

.inner-reviews-map {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
