.home-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.featured-movies-list {
    display: flex;
    flex-direction: row;
    gap: 17px;
}


.home-landing-page h3 {
    color: #f5c518;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.featured-movie {
    background-color: rgb(19, 19, 19);
    height: 240px;
    width: 130px;
    border-radius: 3px;
}

.featured-movie a {
    text-decoration: none;
    color: white;
    font-size: small;
}

.featured-movie a:hover {
    text-decoration: underline;
}

.featured-movie img {
    height: 130px;
    width: 130px;
    object-fit: fill;
    border-radius: 3px;
}

.featured-movie img:hover {
    opacity: 0.7;
}

.featured-movie p {
    padding: 0px 6px;
    margin: 8px 0px;
}

.star-icon {
    font-size: small;
    color: yellow;
}

.average-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: small;
    padding: 0px 6px;
}

.item-scroll {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100;
}

.item-scroll button {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    top: 110px;
    border: 1px solid white;
}

.item-scroll button:hover {
    color: #f5c518;
}

.prev-button {
    display: none;
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.next-button {
    position: absolute;
    right: 0;
    margin-right: -10px;
}

.trailer-prev-button {
    position: absolute;
    left: 0;
    top: 180px !important;
}


.trailer-next-button {
    position: absolute;
    right: 0;
    top: 180px !important;
}

.featured-movies-section:hover .prev-button,
.top-rated-section:hover .prev-button {
    display: block;
}

.featured-trailers-section {
    display: flex;
    flex-direction: row;
}

.up-next-movies {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 170px

}

.up-next-movie {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
    margin-right: 7px;
    font-size: small;
}

.up-next-movie.current {
    opacity: 1;
    font-weight: bold;
    background-color: rgb(19, 19, 19);
}

.up-next-movie:hover {
    opacity: 0.7;
}

.up-next-movie img {
    height: 60px;
    width: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.up-next-section {
    margin-left: 9px;
}

.up-next-section h3 {
    margin-top: 0px;
    font-size:medium;
}
