.home-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.featured-movies-list {
    display: flex;
    flex-direction: row;
    gap: 17px;
}


.home-landing-page h3 {
    color: #f5c518;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.featured-movie {
    background-color: rgb(19, 19, 19);
    height: 250px;
    width: 130px;
}

.featured-movie a {
    text-decoration: none;
    color: white;
    font-size: small;
}

.featured-movie a:hover {
    text-decoration: underline;
}

.featured-movie img {
    height: 130px;
    width: 130px;
    object-fit: fill;
}

.featured-movie img:hover {
    opacity: 0.7;
}

.star-icon {
    font-size: small;
    color: yellow;
}

.average-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: small;
}

.item-scroll {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100;
}

.item-scroll button {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    font-size: 1.4rem;
    margin-bottom: -50%;
    border: 1px solid white;
}

.item-scroll button:hover {
    color: #f5c518;
}

.prev-button {
    display: none;
    position: absolute;
    left: 0;
    margin-left: -10px;
}

.next-button {
    position: absolute;
    right: 0;
    margin-right: -10px;
}

.trailer-prev-button {
    position: absolute;
    left: 0;
}


.trailer-next-button {
    position: absolute;
    right: 0;
}

.featured-movies-section:hover .prev-button,
.top-rated-section:hover .prev-button {
    display: block;
}
