.home-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-movies-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured-movies-list img {
    height: 100px;
    width: 80px;
}

.featured-movies-section h3{
    margin-bottom: -15px;
    align-items: center;
    color: #f5c518;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}
