.add-actor-to-movie-modal h3,h4 {
    margin: 14px 0px;
}

.link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-div p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.add-actor-to-movie-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.current-actors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-actors li {
    list-style: none;
    justify-content: space-between;
}

.current-actors ul {
    padding: 0px;
}

.actors-map-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
