.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 5px;
  row-gap: 2px;
}

.hidden {
  display: none;
}

.navigation-ul {
  display: flex;
  flex: row;
  justify-content: space-between;
  list-style: none;
}
