.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 115px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f5c518;
  padding: 5px 5px;
  row-gap: 2px;
  background-color: #121212;
  list-style: none;
}

.hidden {
  display: none;
}

.navigation-ul {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #121212;
  height: 41px;
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
}

.navigation-ul li a {
  color: #f5c518;
  text-decoration: none;
}

.navigation-ul li a:hover {
  text-decoration: underline;
}
